
<div class="jumbotron">
	<h1>doing it again...</h1>
	<p>going nowhere...</p>
	<%= link_to 'O mnie', home_about_path, class: 'btn btn-default' %>
	<%= link_to 'Main', root_path, class: 'btn btn-primary' %>
</div>