
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
$navbar-default-bg: #e0d7c6;
$jumbotron-bg: #f0e8e9;
$panel-default-heading-bg: #f0e8e9;
$input-border-focus: #a4e7fa;
@import "bootstrap";

